ANSWER-1

For loop: Used to iterate over a sequence of elements, such as a list, string, or dictionary.
Executes a block of code a fixed number of times, based on the length of the sequence.
While loop: Used to repeat a block of code until a certain condition is met.
Executes a block of code as long as a condition is True.

In [18]:
#for loop example
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    sum += num
print("Sum:", sum)

Sum: 15

In [19]:
#while loop example
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

ANSWER-2

In [3]:
l4=[1,2,3,4,5,6,7,8,9,10]

In [4]:
l5=0
for i in l4:
    l5=l5+i
l5

55

In [5]:
l5=1
for i in l4:
    l5=l5*i
l5

3628800

In [6]:
num=10
sum=0
while num>0:
    sum+=num
    num-=1
print(sum)

55

In [7]:
num=10
sum=1
while num>0:
    sum*=num
    num-=1
print(sum)

3628800

ANSWER-3

In [20]:
units=int(input("enter units"))
user=0
if units<= 100:
    user= 4.5*units
if units<= 200:
    user= 6*(units-100)+4.5*units
if units<= 300:
    user= 10*(units-200)+4.5*100+6*100
if units>=300:
    user= 20*(units-300)+4.5*100+6*100+10*100
print("the total bill is:",user)

enter units 310

the total bill is: 2250.0

ANSWER-4

In [8]:
l1=list(range(0,101,1))

In [9]:
c=1
l=[]
for i in l1:
    c=i**3
    if c %4==0  or c%5==0 :
        l.append(c)
l

[0,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [10]:
c=1
l=[]
i=0
while(i< len(l1)):
    c=i**3
    if c %4==0  or c%5==0 :
        l.append(c)
    i+=1
l

[0,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [25]:
s = "I want to become a data scientist"
s=s.lower()
c=0
v=['a','e','i','o','u']
for i in s:
    if i in v:
        c+=1
print(c)

12